<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="htmlHeader" >
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/fontawesome/css/fontawesome.min.css}">

	<script th:src="@{/js/jquery.js}"></script>
	<!-- <script th:src="@{/js/jquery-1.6.2.min.js}"></script> -->
	<!-- <script th:src="@{/js/jquery-1.9.1.min.js}"></script> -->
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.json-2.4.min.js}"></script>
	<script th:src="@{/js/jquery.form.js}"></script>
	<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
	
	
	<!-- ppe add s -->
	<script th:src="@{/js/cmm/browserStorage.js}"></script>
	<script th:src="@{/js/cmm/pageReadyInit.js}"></script>
	<script th:src="@{/js/cmm/comUtil.js}"></script>
	
    <script type="text/javascript" src="/slick/slick.min.js"></script>  
    <link rel="stylesheet" href="../slick/slick.css">
    
    <!-- modal s-->
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/css/animate.min.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/css/jquery.modal.css" /> -->
	<script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/jquery.modal.js"></script>
	<script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/modal.js"></script>
    <!-- modal e-->
	<!-- ppe add e -->
	
	<!-- kb 보안키패드 관련 -->
	<script src="https://viewapi.kbsec.com/js/plugins/kings/vKeypad.min.js"></script>
	<script src="https://viewapi.kbsec.com/js/plugins/kings/kjscrypto.min.js"></script>
	<script src="https://viewapi.kbsec.com/js/plugins/kings/kjscrypto_contrib.min.js"></script>
	<script src="https://viewapi.kbsec.com/js/plugins/kings/vKeypadAPI.js"></script>
	 
	 
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/hybrid_common.js"></script>
	<script type="text/javascript" src="/js/muffler_common.js"></script>

	<!-- handlebar 관련 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js" integrity="sha512-zT3zHcFYbQwjHdKjCu6OMmETx8fJA9S7E6W7kBeFxultf75OPTYUJigEKX58qgyQMi1m1EgenfjMXlRZG8BXaw==" crossorigin="anonymous"></script>

	
	
	<!-- 폰트 관련 -->
	<script src="/fontawesome/js/all.min.js"></script>
	<th:block layout:fragment="html_head"></th:block>
	
</head>
</html>