<!--
* 파일명 		: UNTOPEN01S01.html (E-01-01)
* 업무		: 비대면계좌개설 > 초기화면
* 설명		: 초기화면
* 작성자		: 배수한
* 최초 작성일자	: 2020.12.10
* 수정일/내용	: 
-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/mainLayout">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<section layout:fragment="f-content" id="f-content">
	<div class="container e_01_01">
        <h3 class="untact_instructions">
            <span>개별인증 끝 토큰발급</span>
        </h3>
        
        <!-- 21-05-10 버튼 교체 -->
        <div class="bt-wrap">
        	<!-- 2021-03-15 임시로 disabled 시킴 -->
            <button class="bt bt-color" id="btnNext"><span>다음</span></button>
        </div>
        
        <input type="hidden" id="code" th:value="${params.code}"/>
        
        
    </div>
    <!-- //container-->

</section>
				

<th:block layout:fragment="f-script">
<script src="/js/template/authorize.js"></script>
</th:block>
