<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/htmlHeader :: htmlHeader">
</head>
<meta charset="UTF-8">
<body>
	<!--HEADER -->
	<header th:replace="layouts/mainHeader :: mainHeader">
	</header>
	<!--//HEADER-->
	
	<div class="header">
        <div class="page_head">
            <a href="javascript:gfn_finishView();" class="btn_back">
                <i class="ico"></i>
                <span class="blind">이전페이지로</span>
            </a>
            <p class="page_name">11:1 문의</p>
        </div>
    </div>
    
    <div class="tab">
        <ul role="tablist" class="tablist" id="tablist">
            <li id="tab1"><a href="#panel-1" role="tab" class="is_active">문의하기</a></li>
            <li id="tab2"><a href="#panel-2" role="tab">나의문의내역</a></li>
        </ul>
    </div>
	
	
	<!-- content s  -->
	<div class="container qna">
        <div class="tab_panel" id="panel-1" role="tabpanel">
            <div class="tab_inner">

                <p class="txt_2x">
                    안녕하세요. 고객의 소중한 의견을 경청하는,<br>
                    마이머플러 고객센터입니다. <br>
                    <br>
                    궁금하신 내용이나 개선사항 등 의견을 있으시면 언제든지 말씀해주세요. <br>
                    <br>
                    해당 내용에 맞는 전문가를 배정하여 영업일 기준 48시간 이내에 답변 드리겠습니다.
                </p>
                <div>
                    
                    <div class="input_box">
                        <label for="q_email">
                            <span class="notes">이메일 주소</span>
                        </label>
                        <input type="text" id="q_email" value="" data-keyin="EML" required>
                    </div>
    
                    <div class="input_box">
                        <label for="q_type">
                            <span class="notes">문의유형</span>
                        </label>
                        <select name="q_type" id="q_type">
                            <option value="type01">계좌개설</option>
                            <option value="type02">입출금</option>
                            <option value="type03">자문관리</option>
                        </select>
                    </div>
    
                    <div class="input_box">
                        <label for="q_title">
                            <span class="notes">제목</span>
                        </label>
                        <input type="text" id="q_title" value="" numberOnly required>
                    </div>
    
                    <div class="input_box">
                        <p>
                            <span class="notes">내용</span>
                        </p>
                        <textarea name="q_content" id="q_content" cols="30" rows="10" required></textarea>
                    </div>
    
                    <p class="txt">
                        1:1 상담 과정에서 전달주신 이름, 이메일, 연락처, 계좌번호 등의 
                        개인정보는 원활한 문의해결을 위해 수집되며 문의 해결 시 또는 
                        관련 법령에서 정한기간까지 보유 및 이용됩니다.
                    </p>
    
                    <div class="checkbox">
                        <label for="term_yn">
                            <input type="checkbox" id="term_yn" checked>
                            <i class="check_ico"></i>
                            <span>위 내용에 동의합니다.*</span>
                        </label>
                    </div>
    
                    <div class="btn_box">
                        <button class="btn btn_color" id="btnSave"><span>제출</span></button>
                        <button class="btn btn_color" id="btnAlert"><span>알럿테스트</span></button>
                        <button class="btn btn_color" id="btnOk"><span>ok알럿테스트</span></button>
                        <button class="btn btn_color" id="btnError"><span>에러 알럿테스트</span></button>
                        <button class="btn btn_color" id="btnConfirm"><span>컨펌 알럿테스트</span></button>
                        <button class="btn btn_color" id="btnCallPopup"><span>팝업 호출 테스트</span></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- tabpanel -->

        <div class="tab_panel" id="panel-2" role="tabpanel">
            <div class="search_result">
                <div class="result_section" id="seResult_type01" style="display:none">
                    <h4 class="r_section_name"><span>계좌개설</span></h4>
                    <div id="divResult_type01"></div>
                    <script id="_dumyResult" type="text/x-handlebars-template">
	                    <div class="result_ask">
	                        <p>
	                            <span>{{{q_title}}}</span>
	                        </p>
	                        
	                        <div class="ask_r">
	                            <span class="{{class_ask}}">{{txt_ask}}</span>
	                            <i class="ico arr_down"></i>
	                        </div>
	                    </div>
	                    <div class="result_answer">
	                        <p class="question">
	                            <i>문의</i> <span>{{{q_content}}}</span>
	                        </p>
							{{#ifCond a_content 'isNotNull'}}
	                        <p class="answer">
	                            <i>답변</i> <span>{{{a_content}}}</span>
	                        </p>
							{{/ifCond}}
	                    </div>
                    </script>
                </div>

                <div class="result_section" id="seResult_type02" style="display:none">
                    <h4 class="r_section_name"><span>입출금</span></h4>
                    <div id="divResult_type02"></div>
                </div>
                
                <div class="result_section" id="seResult_type03" style="display:none">
                    <h4 class="r_section_name"><span>자문관리</span></h4>
                    <div id="divResult_type03"></div>
                </div>
                
                <div class="result_section" id="seResult_type04" style="display:none">
                    <h4 class="r_section_name"><span>문의</span></h4>
                    <div id="divResult_type04"></div>
                </div>
            </div>
            
            <div class="no_result" id="no_result" style="display:none"> 
                <p>문의내역이 없습니다.</p>
            </div>
            
        </div>
        <!-- tabpanel -->
    </div>
	<!-- content e  -->
	
	
	<!--FOOTER -->
	<footer th:replace="layouts/mainFooter :: mainFooter">
	</footer>
	
	<!-- chart.js cdn -->
    <script src="../js/chart.v2.9.4.js"></script>
    <script src="../js/chart.plugin.annotation.js"></script>
	<script src="/js/template/template.js"></script>
	<!--//FOOTER-->
</body>
</html>