<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layouts/mainLayout}">
	<th:block layout:fragment="html_head">
    <title>WEALTH GUIDE</title>
    
	<script type="text/javascript" src="/js/chart.v2.9.4.js"></script>
    <script type="text/javascript">
    $(function() {  //onready
		//여기에 최초 실행될 자바스크립트 코드를 넣어주세요
		$("#pTitle").text("연금저축한도");

	    $('.choose_box li').click(function(){      
	        if($(this).children().hasClass("active") === true){
	        }else{
	            $(this).children().addClass("active");
	            $(this).siblings().children().removeClass("active");
	        }
	    });
	    
		gfn_OnLoad();
		
		fn_init();
		
		fn_content();
	});
	
	// 화면내 초기화 부분
	function fn_init() {
	
	}
	
////////////////////////////////////////////////////////////////////////////////////
	// 호출부분 정의
	// 리스트 조회
	function fn_content() {
	
		var inputParam = new Object();
		inputParam.sid 				= "increase_saving";
		inputParam.url 				= "/pension/increase_saving";
		
		inputParam.data = new Object();		
		inputParam.data.pay_amt_cd = $("#payAmtCd").val();
		
		gfn_Transaction( inputParam );
	
	}
	
	//탭 반전
	function fn_simulator(payAmtCd) {
		$("#payAmtCd").val(payAmtCd);
		fn_content();
	}

	////////////////////////////////////////////////////////////////////////////////////
	// 콜백 함수
	function fn_callBack(sid, result, success){
		//debugger;
		
		if(success != "success" ) {
		//if (!result.success) {
			alert("서버에서 오류가 발생하였습니다.");
			history.back();
			return;
		}
		//alert(sid);
		//alert(result.year_max_pay_lmt_expl);
		
		// fn_content
		if(sid == "increase_saving"){
			// 시뮬레이션 가능 여부 체크
			if(result.psb_simul == "0") {
				alert(result.sts_msg);
				return;
			}
			
			gfn_clearData($("#contents"));
			gfn_setDetails(result, $("#contents"));	// 지역내 상세 내용 셋업
			// 차트 처리
			fn_drawChart(result.pnsn_recv_amt_graph);
		}
	}

	//////////////////////////////////////////////////////////////////////////////////////////////////////////
	// 로딩 시작 종료 함수
	function loadStart() {
		document.getElementById("loadBar").style.display = "block";
	}
	function loadStop() {
		document.getElementById("loadBar").style.display = "none";
	}
	
	function fn_drawChart(chartData) {

	    // options
	    var options ={
	        responsible:false,
	        scales: {
	            xAxes: [{
	                stacked: true,
	                barPercentage: 0.6,
	                display: true,
	                beginAtZero: true,
	                gridLines: {
	                    display: false
	                },
	                ticks: {
	                    min:60,
	                    max:100,
	                    autoSkip:true,
	                    autoSkipPadding:5,
	                    maxRotation:0
	                },

	            }],
	            yAxes: [{
	                stacked: true,
	                display: true,
	                gridLines: {
	                    display: true,
	                    borderDash:[2,10],
	                    color:"#888",
	                    drawBorder: false
	                },
	                ticks:{
	                    max: chartData.vertical_maximum,
	                    stepSize:50,
	                    padding:12
	                }
	            }]
	        },
	        legend: {
	            display: true,
	            position:'bottom',
	            fontColor:'#474747',
	            labels:{
	                usePointStyle: true,
	                boxWidth:5,
	                padding:20,
	            }
	        }
	    }
		 
	    var data = {
			labels: chartData.labels,
     	    datasets: [{
	        	label: chartData.chart[0].legend_name,
	        	data : chartData.chart[0].value,
	        	backgroundColor: chartData.chart[0].color, // gray
	            borderColor: "#ffffff",
	            borderWidth:0
	        },  
	        {
	        	label: chartData.chart[1].legend_name,
	        	data : chartData.chart[1].value,
	        	backgroundColor: chartData.chart[1].color, // gray	        
	            borderColor: "#ffffff",
	            borderWidth:0
	        }]  
	    }

	    var ctbar = document.getElementById('myBarChart').getContext('2d');
	    new Chart(ctbar, {
	        type :'bar',
	        data : data,
	        options : options
	    });
	}
    </script>
</th:block>
<body>
	<div layout:fragment="content">	
		<form id="dataForm" name="dataForm" method="post" action="#" onsubmit="return false;">
			<input type="hidden" name="activeToken" id="activeToken" th:value="${params.activeToken}" />
			<input type="hidden" name="refreshToken" id="refreshToken" th:value="${params.refreshToken}"/>
			<input type="hidden" name="payAmtCd" id="payAmtCd" th:value="${params.payAmtCd}"/>			
	    </form>
       <div class="con_wrap m_03_02" id="contents">
           <h3 class="title ico">저축을 늘리면 내 연금은 어떻게 되나요?</h3>
           <div class="con_inner">
               <div class="box_r column">
                   <p class="p_name">현재 납입액<span>(통합연금포털 추정치)</span></p>
                   <p class="p_price color02"><span id="crnt_pay_dis">999,999,999</span> </p>
               </div>
           </div>

           <div class="con_r_box">
               <div class="con_inner">
                   <p class="txt bold">납입기간을 선택해 주세요</p>
                   <ul class="choose_box flex row">
                       <li>
                           <a href="javascript:fn_simulator('1');" class="box_r column noline active">
                               <strong>세액공제 한도</strong>
                               <span>연간 700만원까지 납입</span>
                           </a>
                       </li>
                       <li>
                           <a href="javascript:fn_simulator('2');" class="box_r column noline">
                               <strong>연간 불입한</strong>
                               <span>1,800만원까지 납입</span>
                           </a>
                       </li>
                   </ul>
   
                   <div class="box_r noline column">
                       <p class="chart_tit">연간 연금수령액<span>(<span id="unit">현재가치,만원</span>)</span>
                       <div class="box_chart">
                           <canvas id="myBarChart" height="260px"></canvas>
                       </div>    
                   </div>
   
                   <div class="notice">
                       <p>*참고사항 : 만 60세 은퇴를 기준으로 계산된 값입니다.</p>
                   </div>
               </div>       
           </div>
           <!-- // con -->
       </div>
	</div>
    <!-- //layout:fragment="content" -->
   
</body>
</html>