<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layouts/mainLayout}">
<th:block layout:fragment="html_head">
    <title>WEALTH GUIDE</title>
    <script type="text/javascript">
    $(function() {  //onready
		//여기에 최초 실행될 자바스크립트 코드를 넣어주세요
		$("#pTitle").text("연금관리");
		gfn_OnLoad();
		
		fn_init();
		
		fn_content();
	});
	
	// 화면내 초기화 부분
	function fn_init() {
	
	}
	
////////////////////////////////////////////////////////////////////////////////////
	// 호출부분 정의
	// 리스트 조회
	function fn_content() {
	/*
		var inputParam = new Object();
		inputParam.sid 				= "my_pension";
		inputParam.url 				= "/pension/test_error_code";
		inputParam.data = new Object();
		inputParam.data.http_error_cd = "401";
		inputParam.data.result_cd = "31";
		inputParam.data.result_msg = "토큰 유효기관이 만료되었습니다";		
		
		gfn_Transaction( inputParam );
		*/
	}

	////////////////////////////////////////////////////////////////////////////////////
	// 콜백 함수
	function fn_callBack(sid, result){
		//debugger;
		
		if (!result.success) {
			alert(result.msg);
			return;
		}
		
		alert(result.my_tot_pnsn_amt);
		
		// fn_content
		if(sid == "my_pension"){
			testJson.text = "테스트 데이터";
			/*
			var tbHiddenInfo = ["DISPLAY_TYPE_CD", "PROD_NO"]; // row에 추가할 히든 컬럼 설정  없으면 삭제
			
			gfn_displayList(result.ds_list, "tb_list", tbHiddenInfo);
			gfn_displayTotCnt(result.totCnt);
			
			gfn_addPaging(result.pageInfo, 'gfn_clickPageNo');
			
			gfn_addRowClickEvent("tb_list", "fn_clickRow"); // ==>동일하다
			*/
		}
	}
	
	////////////////////////////////////////////////////////////////////////////////
	// 이동함수
	// 저축을 늘리면 내연금은 어떻게 되나요?
	function fn_goIncreaseSaving() {
		//var inputParam = gfn_makeInputData($("#dataForm"));
		var inputParam = new Object;
		
		gfn_commonGo("/pensionMng/increaseSaving", inputParam, "N");
	}
	//올해 얼마나 더 입금할 수 있나요?
	function fn_goAddPayment() {
		//var inputParam = gfn_makeInputData($("#dataForm"));
		var inputParam = new Object;

		gfn_commonGo("/pensionMng/addPayment", inputParam, "N");
	}
	//내 연금상의 상품구성을 바구고 싶어요
	function fn_goChangeProduct() {
		//var inputParam = gfn_makeInputData($("#dataForm"));
		var inputParam = new Object;
		
		gfn_commonGo("/pensionMng/changeProduct", inputParam, "N");
	}
	//자문이력을 확인하고 싶어요
	function fn_goAdviceHistory() {
		//var inputParam = gfn_makeInputData($("#dataForm"));
		var inputParam = new Object;
		
		gfn_commonGo("/pensionMng/adviceHistory", inputParam, "N");
	}
	//자문계약을 해지하고 싶어요.
	function fn_goTerminateAdvice() {
		//var inputParam = gfn_makeInputData($("#dataForm"));
		var inputParam = new Object;
		
		gfn_commonGo("/pensionMng/terminateAdvice", inputParam, "N");
	}
	
	//////////////////////////////////////////////////////////////////////////////////////////////////////////
	// 로딩 시작 종료 함수
	function loadStart() {
		document.getElementById("loadBar").style.display = "block";
	}
	function loadStop() {
		document.getElementById("loadBar").style.display = "none";
	}
    </script>
</th:block>
<body>	
	<div class="con_wrap m_02_02" layout:fragment="content" id="contents">       
	<form id="dataForm" name="dataForm" method="post" action="#" >
		<input type="hidden" name="activeToken" id="activeToken" value="eyJhbGciOiJIUzUxMiJ9.eyJlaWQiOiIyNzI4QjhCMi0yMzdCLTRDQkMtOTk0Ny0wQzU2MEU4OThCMzkiLCJBUkZsYWciOiJBIiwiZXhwIjoxNjAzOTYxNjg2LCJpYXQiOjE2MDM3ODg4ODZ9.-Ql1NlYlepY8Zma_bhKiFQWR6Z0C__z-jHVxTSOl4iP44MzQspD-SQc403B9IjPFG8aVREmkhv6MgccQAuRMSA" />
		<input type="hidden" name="refreshToken" id="refreshToken" value="eyJhbGciOiJIUzUxMiJ9.eyJlaWQiOiIyNzI4QjhCMi0yMzdCLTRDQkMtOTk0Ny0wQzU2MEU4OThCMzkiLCJBUkZsYWciOiJSIiwiZXhwIjoxNjA0NjUyODg2LCJpYXQiOjE2MDM3ODg4ODZ9.JKagJFhzFrSR0cjImw1NWzUQkUaUF_sHH0gNHwHcFkh8jlyCHGAA8tFvpd9rl6R5ya2X_QvUiXOdUpnE76gbPQ" />
    </form>
		<div class="con_inner">
			<ul>
				<li class="box_r">
					<a href="javascript:fn_goIncreaseSaving();" class="flex row">
						<p>저축을 늘리면<br>내 연금은 어떻게 되나요?</p>
						<i class="fas fa-angle-right fa-lg"></i>
					</a>
				</li>
				<li class="box_r">
					<a href="javascript:fn_goAddPayment();" class="flex row">
						<p>올해 얼마나 더 <br>입금 할 수 있나요?</p>
						<i class="fas fa-angle-right fa-lg"></i>
					</a>
				</li>
				<li class="box_r">
					<a href="javascript:fn_goChangeProduct();" class="flex row">
						<p>내 연금의 상품구성을<br> 바꾸고 싶어요</p>
						<i class="fas fa-angle-right fa-lg"></i>
					</a>
				</li>
				<li class="box_r">
					<a href="javascript:fn_goAdviceHistory();" class="flex row">
						<p>자문이력을 <br> 확인하고 싶어요</p>
						<i class="fas fa-angle-right fa-lg"></i>
					</a>
				</li>
				<li class="box_r">
					<a href="javascript:fn_goTerminateAdvice();" class="flex row">
						<p>자문계약을<br> 해지하고 싶어요</p>
						<i class="fas fa-angle-right fa-lg"></i>
					</a>
				</li>
			</ul>               
		</div>
	</div>    
    <!-- //wrap -->
</body>
</html>