<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/mainLayout">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<section layout:fragment="f-content" id="f-content">
	<div class="container list" >
		<div class="section01">
			<div class="in_wrap">
				<div class="left">
					<div class="token">
						<form id="frm" method="post">
							<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
							<label>Access Token</label>
							<input type="text" id="accessToken" name="accessToken"/>
							<label>Refresh Token</label>
							<input type="text" id="refreshToken" name="refreshToken"/>
							<div class="btn_box">
		                        <button onClick="clearSession(event);"><span>적용토큰제거</span></button>
		                    </div>
						</form>
					</div>
					
					<!-- 리스트 -->
					<div class="list_wrap">
						<ul>
							<li>
								<a th:text="연금-d01-dashboard" target="frame_target" th:onclick="movePage('/pension_advice/dashBoard/DASHBRD01S01')"></a>
							</li>
							
							<li>
								<a th:text="연금자문-d03-자문계약안내" target="frame_target" th:onclick="movePage('/advice_execution/advice_contract/ADVCEXC12S01')"></a>
							</li>
							
							<li>
								<a th:text="연금자문-d04-투자성향분석" target="frame_target" th:onclick="movePage('/pension_advice/invest_propensity/INVPROP04S01')"></a>
							</li>
							
							<li>
								<a th:text="연금-trans-" target="frame_target" th:onclick="movePage('/advice_execution/advice_contract/ADVCEXC13S01')"></a>
							</li>
							
							<li>
								<a th:text="연금대기-w01-" target="frame_target" th:onclick="movePage('/wait_progress/WAITPRO01S01')"></a>
							</li>
							
							<li>
								<a th:text="연금관리-m11-웰컴보드" target="frame_target" th:onclick="movePage('/pension_mng/PENSION11M01')"></a>
							</li>
							
							<li>
								<a th:text="거래-t01-머플러자문안" target="frame_target" th:onclick="movePage('/pension_execution/PENSEXE01S01')"></a>
							</li>
							
							<li>
								<a th:text="index" target="frame_target" th:onclick="movePage('/index')"></a>
							</li>
							<!-- <li>
								<a th:text="QNA" target="frame_target" th:onclick="movePage('/board_mng/qna_mng')"></a>
							</li> -->
							
							
							<!-- <li>
								<div class="table_title"><a th:text="미정" target="frame_target" th:onclick="movePage('test')"></a>
							</li> -->
						</ul>
					</div>
					
					<!-- <div class="btn_box">
                        <button onClick="callTran();"><span>오류테스트용</span></button>
                    </div> -->
					
					<!-- /리스트 -->
				</div>
				
				<div class="contents">
					<iframe src="test" id="frame_target" name="frame_target">
					</iframe>
				</div>
			</div>
		</div>
	</div>
</section>


<th:block layout:fragment="f-script">
<link rel="stylesheet" href="/css/adminStyle.css">

<script>
	$(document).ready(function(){
		gfn_setHeader(
		{
			variable : {noHead : true}
		}
		);
	});
		
	function movePage(url) {
		javascript:sessionStorage.clear();
	
		var frm = $("#frm")[0];
		frm.target = "frame_target";
		frm.action = url;
		frm.submit();
		
	};
	
	function clearSession(e){
		e.preventDefault();
		
		javascript:sessionStorage.clear();void(0);
	}
	
	function callTran(){
		var inputParam 		= {};
		inputParam.sid 		= "testErrorCode";
		inputParam.target 	= "api";
		inputParam.url 		= "/pension/test_error_code";
		inputParam.data 	= {
								  "http_error_cd": 401,
								  "result_cd": 20,
								  "result_msg": "토큰 유효기관이 만료되었습니다."
								}
		inputParam.callback	= callBack; 
		
		gfn_Transaction( inputParam );
			
	}
	
	function callBack(sid, result, success){
		
		if(success != "success" ) {
			gfn_errorMsgBox("서버에서 오류가 발생하였습니다.");
			history.back();
			return;
		}
		
		// 투자성향 저장 
		if(sid == "testErrorCode"){
			debugger;
			
			var listLength = 0;
			if(ComUtil.isNull(result.invest_propensity)){
				gfn_alearMsgBox("투자성향분석 결과값을 받지 못했습니다.");
				return;
			}
					
			
			// 투자성향 결과 페이지로 이동
			sStorage.setItem("sParams", result);
			ComUtil.moveLink("/pension_advice/invest_propensity/INVPROP06S01");
		}
	}
</script>
</th:block>