<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<header  class="header" th:fragment="mainHeader">
        <div class="header" id="page_head" style="display:none">
	        <div class="page_head" id="header_normal" style="display:none">
	            <a href="javascript:gfn_historyBack();" class="btn_back" id="btnBack" style="display:none">
	                <i class="ico"></i>
	                <span class="blind">이전페이지로</span>
	            </a>
	            <p class="page_name" id="pTitle"><!-- FAQ --></p>
	            
	            <!-- <div class="head_right" id="divHMenu" style="display:none">
	                <a href="javascript:void(0);" class="push" id="headerPush">
	                    <span class="blind">알림</span>
	                </a>
	                <a href="javascript:void(0);" class="menu" id="headerMenu">
	                    <span class="blind">메뉴</span>
	                </a>
	            </div> -->
	        </div>
	        
	        <div class="head" id="header_dash" style="display:none">
	            <a href="javascript:void(0);" class="logo" data-link="m">
	                <span class="blind">MUFFLER</span>
	            </a>
	
	            <!-- <div class="head_right" id="divHMenu" style="display:none">
	                <a href="javascript:void(0);" class="push" id="headerPush">
	                    <span class="blind">알림</span>
	                </a>
	                <a href="javascript:void(0);" class="menu" id="headerMenu">
	                    <span class="blind">메뉴</span>
	                </a>
	            </div> -->
	        </div>
	        
	    </div>
	    
        <!-- <div class="header" id="popup_head" style="display:none">
	        <div class="page_head" id="header_normal" style="display:none">
	            <div class="popup_header m_header">
		            <h2><span>알림</span></h2>
		            <button class="popup_close m_close"><span class="blind">닫기</span></button>
		        </div>
	        </div>
	    </div> -->
	    
	    
	    <div class="dim ham index01"></div>
	    <div class="popup_wrap index01 m_menu">
	        <div class="popup_header m_header">
	            <button class="m_close"><span class="blind">닫기</span></button>
	        </div>
	
	        <div class="popup_content">
	            <div class="user_menu">
	                <div class="user">
	                    <div class="user_pic">
	                        <img src="/images/icon_profile.svg" alt="사용자">
	                    </div>
	                    <div class="user_info">
	                        <p class="user_name"><span id="h_user_nm"><!-- 정우현 --></span></p>
	                        <p class="user_with">♥ 마이머플러와 <span id="h_use_prd"><!-- 63 --></span>일 째</p>
	                    </div>
	                </div>
	
	                <div class="edit_my_info">
	                    <a href="javascript:ComUtil.moveLink('/my_info/MYINFOM02S03');void(0);" class="bt bt-color s"><span>내 정보</span></a>
	                    <!-- <a href="javascript:ComUtil.moveLink('/my_info/MYINFOM02S03', true, true);void(0);" class="bt bt-color s disabled"><span>내 정보</span></a> -->
	                </div>
	            </div>
	
	
	            <div class="personal_menu">
	                <ul>
	                    <li class="cs_center">
	                        <a href="javascript:ComUtil.moveLink('/help_desk/HELPDES02S04');void(0);"><span>고객센터</span></a>
	                    </li>
	                    <li class="notice">
	                        <a href="javascript:ComUtil.moveLink('/board_mng/BORDNOT02S05');void(0);"><span>공지사항</span></a>
	                    </li>
	                    <li class="setting">
	                        <!-- <a href="javascript:ComUtil.moveLink('/my_info/MYINFOM02S06', true, true);void(0);"><span>설정</span></a> -->
	                        <a href="javascript:ComUtil.moveLink('/my_info/MYINFOM02S06');void(0);"><span>설정</span></a>
	                        <!-- <a href="javascript:void(0);"><span>설정</span></a> -->
	                    </li>
	                    <li class="security disabled">
	                        <a href="javascript:void(0);"><span>인증/보안</span></a>
	                    </li>
	                </ul>
	            </div>
	
	
				<div class="section">
                	<div class="section-inner">	
		                <ul class="service-list">
			                <!-- <li class="service-list-item linkable menu_mng" style="display:none;">
	                            <a href="javascript:ComUtil.moveLink('/my_info/MYINFOM02S01');void(0);" class="service-list-item-link">
	                                <p class="title"><span>내 연금계좌</span></p>
	                                <i class="ico arr_right"></i>
	                            </a>
	                        </li> -->
	                        <li class="service-list-item linkable menu_mng" style="display:none;">
	                            <a href="javascript:ComUtil.moveLink('/my_info/MYINFOM02S02');void(0);" class="service-list-item-link">
	                                <p class="title"><span>내 자문내역</span></p>
	                                <i class="ico arr_right"></i>
	                            </a>
                        	</li>
                        	
                        	<li class="service-list-item linkable menu_mng" style="display:none;">
                            <a href="javascript:ComUtil.moveLink('/pension_execution/order/ORDREXE03S14');void(0);" class="service-list-item-link">
                                <p class="title"><span>내 주문내역</span></p>
                                <i class="ico arr_right"></i>
                            </a>
	                        </li>
	
	                        <li class="service-list-item linkable">
	                            <a href="javascript:ComUtil.moveLink('/my_info/MYINFOM02S07');void(0);" class="service-list-item-link">
	                                <p class="title"><span>연금 데이터 관리</span></p>
	                                <i class="ico arr_right"></i>
	                            </a>
	                        </li>
	
	                        <li class="service-list-item linkable">
	                            <a href="javascript:ComUtil.moveLink('/board_mng/BORDSCF09S01');void(0);" class="service-list-item-link">
	                                <p class="title"><span>스터디카페</span></p>
	                                <i class="ico arr_right"></i>
	                            </a>
	                        </li>
	
	                        <li class="service-list-item linkable">
	                            <a href="javascript:ComUtil.moveLink('/board_mng/BORDIVS08S01');void(0);" class="service-list-item-link">
	                                <p class="title"><span>투자이야기</span></p>
	                                <i class="ico arr_right"></i>
	                            </a>
	                        </li>
                        	
		                </ul>
	                
		                <a href="javascript:ComUtil.moveLink('/help_desk/HELPDES02S10');void(0);" class="license">
		                    <span>오픈소스 라이센스</span>
		                </a>
		            </div>
	            </div>
	            
				<div class="section" id="testMenu" style='display:none; margin-top:400px'>
                	<div class="section-inner">	
		                <ul class="service-list">
		                    <li class="service-list-item linkable">
		                        <a href="javascript:ComUtil.moveLink('/template/testMain');void(0);" class="service-list-item-link">
		                            <p class="title"><span>testMain</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:gfn_alertMsgBox(location.hostname + $('#operEnv').val());void(0);">
		                            <p class="title"><span>도메인확인</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a href="/chamin/index.html" class="service-list-item-link">
		                            <p class="title"><span>퍼블확인</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a href="javascript:alert(sStorage.getItem('accessToken'));" class="service-list-item-link">
		                            <p class="title"><span>토큰확인</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a href="javascript:ComUtil.moveLink('/pension_execution/PENSEXE04S01');void(0);" class="service-list-item-link">
		                            <p class="title"><span>test test</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/wait_progress/WAITPRO02S06');void(0);">
		                            <p class="title"><span>openbanking test</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/pension_advice/dashBoard/DASHBRD01S00');void(0);">
		                            <p class="title"><span>연금자문-d01-00-dashboard</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/pension_advice/dashBoard/DASHBRD01S01');void(0);">
		                            <p class="title"><span>연금자문-d01-dashboard</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/my_info/MYINFOM02S02');void(0);">
		                            <p class="title"><span>내 자문 내역</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/untact_open/UNTOPEN01S01');void(0);">
		                            <p class="title"><span>비대면-e01-</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/untact_open/UNTOPEN02S01');void(0);">
		                            <p class="title"><span>비대면-e02-</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/untact_open/UNTOPEN03S01');void(0);">
		                            <p class="title"><span>비대면-jumin e-03-01</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/untact_open/UNTOPEN04S01');void(0);">
		                            <p class="title"><span>신분증찰영</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/untact_open/UNTOPEN07S01');void(0);">
		                            <p class="title"><span>납입한도체크-password e-07-01</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/untact_open/UNTOPEN09S01');void(0);">
		                            <p class="title"><span>비대면-password e-09-01</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/pension_execution/PENSEXE01S01');void(0);">
		                            <p class="title"><span>거래-t01-머플러자문안</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/pension_advice/invest_propensity/INVPROP05S01');void(0);">
		                            <p class="title"><span>연금자문-d04-투자성향분석(05-01)</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/untact_open/UNTOPEN01S01');void(0);">
		                            <p class="title"><span>비대면계좌개설</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/untact_open/UNTOPEN04S01');void(0);">
		                            <p class="title"><span>비대면계좌개설-신분증찰영(e-04-01)</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/untact_open/UNTOPEN06S01');void(0);">
		                            <p class="title"><span>비대면계좌개설-개인정보입력(e-06-01)</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/untact_open/UNTOPEN10S02');void(0);">
		                            <p class="title"><span>e-10-02 1원보내기</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/untact_open/UNTOPEN11S01');void(0);">
		                            <p class="title"><span>e-11-01 계좌개설 완료</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/advice_execution/advice_contract/ADVCEXC12S01');void(0);">
		                            <p class="title"><span>e-12-01-자문계약안내</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/advice_execution/advice_contract/ADVCEXC13S01');void(0);">
		                            <p class="title"><span>e-13-01 자문계약완료</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/advice_execution/advice_contract/ADVCEXC14S01');void(0);">
		                            <p class="title"><span>e-14-01 계좌이전신청입력</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/wait_progress/WAITPRO01S01');void(0);">
		                            <p class="title"><span>연금대기</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/pension_mng/PENSION11M01');void(0);">
		                            <p class="title"><span>연금관리-m11-new보드</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/pension_mng/PENSION12M04');void(0);">
		                            <p class="title"><span>연금관리-m1204-내연금보기</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/pension_mng/PENSION01M00');void(0);">
		                            <p class="title"><span>연금관리-m01-웰컴보드</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/open_banking/OPENBNK01S01');void(0);">
		                            <p class="title"><span>오픈뱅킹</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/my_info/MYINFOM03S24');void(0);">
		                            <p class="title"><span>c-03-24 통합연금포털 회원정보 입력</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/my_info/MYINFOM03S25');void(0);">
		                            <p class="title"><span>c-03-25 통합연금포털 가입완료</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/my_info/MYINFOM03S31');void(0);">
		                            <p class="title"><span>c-03-31 회원탈퇴안내1</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:ComUtil.moveLink('/my_info/MYINFOM03S33');void(0);">
		                            <p class="title"><span>c-03-33 회원탈퇴안내2</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:gfn_callPopupSysClose();void(0);">
		                            <p class="title"><span>시스템 강제 종료</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:gfn_openMenu();void(0);">
		                            <p class="title"><span>메뉴호출</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                    <li class="service-list-item linkable">
		                        <a class="service-list-item-link" href="javascript:gfn_callMyData();void(0);">
		                            <p class="title"><span>마이데이터 화면 호출</span></p>
		                            <i class="ico arr_right"></i>
		                        </a>
		                    </li>
		                </ul>
	            	</div>
				</div>
	
	        </div>
	
	    </div>
	    
	</header>
</html>