<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<header  class="header" th:fragment="popHeader">		    
         <!-- <a href="javascript:gfn_closePopup();" class="btn_back">
             <i class="ico"></i>
             <span class="blind">닫기</span>
         </a> -->
         <!-- <div class="popup_header m_header">
            <h2><span>알림</span></h2>
            <button class="popup_close m_close" onclick="javascript:gfn_closePopup();"><span class="blind">닫기</span></button>
        </div> -->
	</header>
</html>